.category {
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* box-sizing: border-box; */
}
.categoryIcon {
    width: 80px;
    height: 80px;
    border: 1px solid #ff8a66;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    filter: grayscale(1);
    transition: all .25s linear;
    cursor: pointer;
}
.category:hover .categoryIcon {
    filter: grayscale(0);
}
.category:hover .categoryTitle {
    color: #ff8166;
}
.categoryIcon img {
    width: 60px;
    height: auto;
}
.categoryTitle {
    transition: all .25s linear;
    margin-top: 15px;
    text-align: center;
    font-size: smaller;
}

#categoriesBar {
    max-height: 100vh;
    overflow: hidden;
}
#categoriesBarContent {
    max-height: 100vh;
    overflow: auto;
    width: calc(100% + 20px);
    padding-right: 20px;
    box-sizing: border-box;
}